// Colors
$colors: (
    bgColor: #000026,
    textColor: #00ecf0,
    highlightColor: #f0f0f0
);

@function color($colorName) {
    @return map-get($colors, $colorName);
}

// Fonts
$textLight: "Montserrat Light";
$text: "Montserrat Regular";
$highlighted: "Montserrat Medium";
$textSemiBold: "Montserrat SemiBold";
$title: "Montserrat Black";

// Custom values
$center: translate(-50%, -50%);

// Querries for responsiveness
$responsive1920: 1920px;
$arrowsBreakPoint: 1300px;
$arrowsDisappear: 700px;
$responsive600: 600px;
$responsive550: 550px;
$responsive400: 400px;
$responsive350: 350px;

@mixin arrowsBreakPoint {
    @media (max-width: #{$arrowsBreakPoint}) {
        @content;
    }
}

@mixin arrowsDisappear {
    @media (max-width: #{$arrowsDisappear}) {
        @content;
    }
}

@mixin responsive1920 {
    @media (min-width: #{$responsive1920}) {
        @content;
    }
}

@mixin responsiveTablets {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin responsive600 {
    @media (max-width: #{$responsive600}) {
        @content;
    }
}

@mixin responsive550 {
    @media (max-width: #{$responsive550}) {
        @content;
    }
}


@mixin responsive400 {
    @media (max-width: #{$responsive400}) {
        @content;
    }
}

@mixin responsive350 {
    @media (max-width: #{$responsive350}) {
        @content;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: color(bgColor);
    color: color(textColor);
    font-family: $text;
    overflow: hidden;

    // QUOTE
    #quote {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: $center;
        font-family: $textLight;
        font-size: 14px;
        opacity: 0;
        text-align: center;
        width: 100%;
        animation: quoteText 3s ease forwards;

        .highlighted {
            font-family: $textLight;
        }

        @include responsive1920 {
            font-size: 26px;
        }
    }

    // Line height for paragraphs
    p {
        line-height:  1.5em;
    }

    // Links
    a {
        text-decoration: none;
        color: color(textColor);
        background-color: color(bgColor);
        transition: 0.2s ease;
    }
    a:hover {
        color: color(highlightColor);
    }

    img {
        transition: 0.3s ease;
    }

    // Link buttons
    .btn-link {
        width: 110px;
        height: 30px;
        padding: 3px;
        border: 1px solid color(textColor);
        border-radius: 1px;
        font-size: 14px;

        display: flex;
        justify-content: center;
        align-items: center;

        * {
            margin: 0px 5px;
        }
    }

    // List items
    ul {
        list-style-type: none;
        display: flex;

        li {
            margin: 0 5px;
            padding: 3px;
        }
    }

    // Highlighted items
    .highlighted {
        color: color(highlightColor);
        font-family: $highlighted;
    }

    
    @include responsive1920 {
        p, a {
            font-size: 22px;
        }

        .btn-link {
            width: 140px;
            font-size: 20px;
        }

        input, textarea, #submitBtn {
            font-size: 18px;
        }
    }
}

// STOP THE ANIMATIONS FROM RUNNING ON PAGE LOAD
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    animation-play-state: none !important;
}

// NAVIGATION (LINKS)
nav {
    display: none;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-right: 25px;
    transform: translateY(-50px);
    opacity: 0;
    z-index: 2;
    transition: 3s ease;

    a {
        background: none;
        font-size: 14px;
        font-family: $highlighted;
    }

    @include responsive550 {
        justify-content: center;
        margin: 0;
    }
}

nav.display__nav {
    display: flex;
}

nav.active__nav {
    transform: translateY(0px);
    opacity: 1;
}

// CONTAINER FOR THE SECTIONS
#container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 1.5s ease;
    visibility: hidden;
}

#container.active__container {
    opacity: 1;
    visibility: visible;
}

// MAIN SECTION
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;

    .polygon__path {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%;
        -webkit-clip-path: polygon(50% 0%, 100% 0, 53% 77%, 0 100%, 0 0);
        clip-path: polygon(50% 0%, 100% 0, 53% 77%, 0 100%, 0 0);
        background-color: #000015;
        z-index: -1;
        transition: 0.5s ease;

        @include responsive550 {
            -webkit-clip-path: polygon(50% 0%, 100% 0, 53% 77%, 0 100%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 77%, 0 100%, 0 0);
        }
    }

    #main-left-side {
        flex-basis: 50%;
        color: color(textColor);

        #resume {
            height: 35px;
            font-family: "Montserrat Medium";
            letter-spacing: 1px;
            position: relative;
            overflow: hidden;
            transition: 0.3s ease;
            background-color: #000015;
            border-radius: 25px;
            color: color(textColor);
        }

        #resume::before {
            content: "resume";
            transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }

        #resume::after {
            font-family: "Material Icons";
            content: "\e884";
            font-size: 24px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%) translateY(-30px);
            transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }

        #resume:hover {
            background-color: color(textColor);
            transition: 0.3s ease;
        }

        #resume:hover::before {
            transform: translateY(30px);
        }

        #resume:hover::after {
            // transition: 0.3s ease;
            transform: translate(-50%, 0px);
            color: color(bgColor);
        }

        @include responsive550 {
            flex-basis: 100%;
            text-align: center;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    // Title
    h1 {
        font-family: $title;
        font-size: 55px;
        text-shadow: 4px 4px #04fbff30;
        letter-spacing: 1px;

        .highlighted {
            font-family: $title;
            color: color(highlightColor);
        }

        @include responsive400 {
            font-size: 40px;
        }
    }

    p {
        margin: 5px 0 20px 0;

        .highlighted {
            color: color(highlightColor);
            font-family: $textSemiBold;
        }

        
        @include responsive550 {
            padding: 10px;
            font-size: 14px;   
        }
    }

    // RIGHT SIDE
    #main-right-side {
        transform: scale(0);
        transform-origin: center;
        animation: laptopAnimation 0.7s ease forwards;
    }

    // Mouse scroll animation
    #mouse__scroll {
        display: none;
        position: absolute;
        left: 50%;
        bottom: 25px;
        opacity: 0;

        @include responsive1920 {
            bottom: 60px;
        }
    }

    #mouse__scroll.display__mouse--scroll{
        display: block;
        z-index: 3;
    }

    #mouse__scroll.active__mouse--scroll {
        width: 20px;
        height: 35px;
        border-radius: 15px;
        z-index: 3;
        background: none;
        border: 2px solid color(textColor);
        opacity: 0.8;
        transition: 1s ease;
    }

    #mouse__scroll::before {
        content: "";
        width: 4px;
        height: 10px;
        border-radius: 3px;
        background-color: #fff;
        position: absolute;
        top: 5px;
        left: 6px;
        animation: scrollDown 2s ease forwards infinite;
    }
    #mouse__scroll::after {
        content: "SCROLL";
        color: color(highlightColor);
        position: absolute;
        bottom: -20px;
        left: -14px;
        font-size: 12px;
        font-family: "Montserrat Medium";
    }
}

// SKILLS SECTION
#skills {
    margin: 15px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    opacity: 0;
    transform: translateY(50px);
    transition: 1s;

    * {
        margin: 20px 0;
    }

    #icons {
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;

        a {
            position: relative;
            background: transparent;
        }

        .tooltip {
            display: none;
            opacity: 0;
            min-width: 90px;
            padding: 5px;
            color: color(bgColor);
            font-family: $textSemiBold;
            font-size: 14px;

            border-radius: 2px;
        }

        a:hover .tooltip {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            left: -25px;
            bottom: -35px;
            background-color: color(highlightColor);
            animation: tooltip 0.35s ease-in-out forwards;
        }

        .tooltip::before {
            content: '';
            width: 15px;
            height: 15px;
            z-index: -1;
            background-color: color(highlightColor);

            position: absolute;
            top: -5px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
        }

        * {
            margin: 0 5px;
        }

        // Media querry to display tool tips
        @include responsiveTablets {
            a {
                position: relative;
            }

            .tooltip {
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 1;
                background-color: transparent;
                min-width: 90px;
                color: color(highlightColor);
                font-size: 14px;
                font-family: $highlighted;
                position: absolute;
                left: -25px;
                bottom: -25px;
                animation: none;
            }
            .tooltip::before {
                content: '';
                widows: 0;
                height: 0;
                z-index: -1;
                background-color: transparent;
            }

            a:hover .tooltip {
                left: -25px;
                bottom: -25px;
                background-color: transparent;
                animation: none;
            }
            
            * {
                margin: 15px 10px;
            }
        }
    } 

    h1 {
        font-family: $title;
        font-size: 50px;
        color: color(highlightColor);
    }

    p {
        margin: 15px 0px;
        color: color(textColor);
    }
    
    @include responsive400 {
        h1 {
            font-size: 40px;
        }
        p {
            padding: 10px;
        }
    }
}

#skills.skills--active {
    opacity: 1;
    transform: translateY(0px)
}


// PROJECTS SLIDER
.glide {
    margin-top: 100px;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: 1s;

    // SLIDER BULLET POINTS
    .bullet__points {
        transition: 0.1s ease !important;

        .glide__bullet {
            width: 25px;
            height: 5px;
            border: none;
            border-radius: 2px;
            background-color: color(textColor);
            outline: none;
            cursor: pointer;
        }
    
        .glide__bullet--active {
            height: 7px;
            background-color: color(highlightColor);
        }
    }

    h1 {
        font-family: $title;
        font-size: 50px;
        color: color(highlightColor);
    }

    p {
        margin: 15px 0;
        color: color(textColor);
    }

    #more__projects {
        margin: 50px 0 0 0;
        padding: 5px;

        a {
            display: inline-block;
            font-style: italic;
            text-decoration: underline;
            padding-right: 2px;  
        }
    }

    @include responsive400 {
        h1 {
            font-size: 40px;
        }
        p {
            padding: 10px;
        }
    }
}

.glide--active {
    opacity: 1;
    transform: translateY(0px);
}

.glide__track {
    position: relative;

    // GLIDE ARROWS
    .glide__arrows {

        i {
            display: inline-block;
            font-size: 80px;
            transition: 0.3s ease;
        }

        i:hover {
            text-shadow: 0px 5px #04fbff60;
        }

        @include arrowsDisappear {
            display: none;
        }

        .glide__arrow--left {
            background-color: transparent;
            position: absolute;
            top: 30%;
            left: 25%;
    
            @include arrowsBreakPoint {
                left: 0;
            }
        }
        .glide__arrow--right {
            background-color: transparent;
            position: absolute;
            top: 30%;
            right: 25%;
    
            @include arrowsBreakPoint {
                right: 0;
            }
        }
    }
}

.glide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease;

    h2 {
        font-family: $title;
        color: color(highlightColor);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 10px 0px;

        @include responsive400 {
            font-size: 20px;
        }

        @include responsive350 {
            font-size: 18px;
        }

        img {
            margin: 0px 5px;
        }
    }

    // Project image
    .project__image {
        width: 500px;

        @include responsive550 {
            width: 90%;
        }
    }


    .project__info {
        max-width: 500px;
        text-align: center;

        * {
            margin: 10px 0;
        }

        .project__tech {
            font-size: 14px;
            font-style: italic;
            color: color(textColor);
            
            .tech {
                font-family: $textSemiBold;
                color: color(highlightColor);
            }
        }

        .project__links {
            display: flex;
            justify-content: space-evenly;
            font-family: $textSemiBold;

            // TEST
            .project__btn {
                position: relative;
                width: 110px;
                height: 30px;
                padding: 5px;
                background-color: #000022;
                border: 1px solid color(textColor);
                border-radius: 50px;
                font-size: 14px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }

            .project__btn:hover {
                transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);                
            }

            // DEMO BUTTON
            .demo__btn::before {
                content: "DEMO";
                color: color(textColor);
                transform: translateX(12px);
                transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);                
            }
            .demo__btn::after {
                font-family: "Material Icons";
                content: "\e5cc";
                font-size: 24px;
                color: color(textColor);
                transform: translateX(40px);
                transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);                
            }

            .demo__btn:hover::before {
                transform: translateX(6px);
            }

            .demo__btn:hover::after {
                opacity: 1;
                transform: translateX(10px);
            }

            // CODE BUTTON
            .code__btn::before {
                content: "CODE";
                color: color(textColor);
                transform: translateX(12px);
                transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);                
            }
            .code__btn::after {
                font-family: "Material Icons";
                content: "\e5cc";
                font-size: 24px;
                color: color(textColor);
                transform: translateX(40px);
                opacity: 0;
                transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);                
            }
            
            .code__btn:hover::before {
                transform: translateX(6px);
            }

            .code__btn:hover::after {
                opacity: 1;
                transform: translateX(10px);
            }
        }

        @include responsive400 {
            p {
                padding: 10px;
            }
        }
    }
}

// CONTACT CONTAINER
#contact {
    margin: 80px 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transform: translateY(50px);
    transition: 1s;

    h1 {
        margin: 20px 0;
        font-family: $title;
        font-size: 50px;
        color: color(highlightColor);
    }

    p {
        margin: 20px 0;
        width: 80%;
    }

    // CONTACT FORM
    #contact-form {
        margin: 20px 0;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: left;

        @include responsive400 {
            width: 90%;
        }

        // CONTACT INPUT FIELDS
        div {
            width: 100%;
            position: relative;

            label {
                position: absolute;
                top: 15px;
                left: 4px;
                transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55); 
                pointer-events: none;
                font-size: 12px;
                color: #04fbff60;
            }

            input {
                width: 100%;
                padding: 5px;
                margin: 10px 0;
                border: none;
                border-bottom: 1px solid #04fbff40;
                background: none;
                outline: none;
                font-family: $text;
                color: color(highlightColor);
                transition: 0.5s ease;
            }
            
            // CONTACT TEXTAREA
            textarea {
                width: 100%;
                // height: 80px;
                margin: 35px 0 10px 0;
                padding: 8px;
                border: 1px solid #04fbff40;
                background: none;
                outline: none;
                font-family: $text;
                color: color(highlightColor);
                text-decoration: none;
                transition: 0.5s ease;
            }
        }

        // CONTACT BUTTON
        button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 5px;
            border: 1px solid #04fbff40;
            background: color(bgColor);
            color:  color(textColor);
            font-family: $highlighted;
            outline: none;
            cursor: pointer;
            transition: 0.2s ease;
        }

        button:hover {
            background: color(textColor);
            color: color(bgColor);
        }
    }

    // When input and textarea are FOCUSED and with VALID input, style the labels
    #contact-form {
        input:focus ~ label {
            top: -4px;
            color: color(textColor);
        }
        input:valid ~ label {
            color: color(textColor);
            top: -4px;
        }
        textarea:focus ~ label {
            color: color(textColor);
        }
        textarea:valid ~ label {
            color: color(textColor);
        }
    }

    // Mail error
    #mail--error {
        margin: 10px 0;
        color: #e1302a;
        font-family: $text;
        font-size: 14px;
        text-align: center;
    }

    @include responsive400 {
        h1 {
            font-size: 40px;
        }
        p {
            padding: 10px;
            font-size: 14px;
        }
    }
}

#contact.contact--active {
    opacity: 1;
    transform: translateY(0px);
}

// FOOTER
footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "social createdBy pageLinks";
    background-color: #000015;
    border-top: 1px solid #04fbff30;

    a {
        background: transparent;
    }

    .footer--section {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 8px 0;
    }

    .social--links {
        justify-content: space-around;
        grid-area: social;
    }

    #created--by {
        grid-area: createdBy;
        font-size: 10px;
    }

    #page--links {
        grid-area: pageLinks;
    }

    @include responsive600 {
        grid-template-columns: 1fr;
        grid-template-areas:
        "pageLinks"
        "social"
        "createdBy";

        .social--links {
            margin: 25px 0;
        }
    }
}

// CUSTOM SCROLL BAR
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #04fbff;
    border-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


@keyframes laptopAnimation{
    0% {
        transform: scale(0)
    }
    60% {
        transform: scale(1)
    }
    80% {
        transform: scale(0.9)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes circleTest{
    0% {
        -webkit-clip-path: circle(0.1% at 0 100%);
        clip-path: circle(100% at 0 100%);
    }
    100% {
        -webkit-clip-path: circle(41.7% at 0 0);
        clip-path: circle(41.7% at 0 0);
    }
}

@keyframes scrollDown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes quoteText {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 1
    }

    100% {
        opacity: 0;
    }
}

@keyframes tooltip {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}


/* MATERIAL DESIGN ICONS CSS */
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
}